# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
logs/
*.log

# NetBeans
nbproject/private/

# Configuración local
conf/Configuracion.conf

# Archivo de destinatarios de pruebas
conf/DestinatariosUsa.csv

# Sistema
.DS_Store
Thumbs.db